In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../dados/data_out.csv')

In [3]:
print(df.shape)
print(df.info())

(209, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   23.00000000  209 non-null    float64
 1   5.20778845   209 non-null    float64
 2   0.23789485   209 non-null    float64
 3   9.12000000   209 non-null    float64
 4   79.93663194  209 non-null    float64
 5   0.33574021   209 non-null    float64
 6   2            209 non-null    int64
dtypes: float64(6), int64(1)
memory usage: 11.6 KB
None

In [4]:
df

,23.00000000,5.20778845,0.23789485,9.12000000,79.93663194,0.33574021,2
0,23.0,35.546812,0.076797,8.160000,118.432410,0.329743,1
1,23.0,3.603499,0.267577,8.160000,102.691722,0.324850,2
2,23.0,5.080712,0.232745,7.440000,102.980232,0.268269,2
3,23.0,4.119577,0.230875,6.720000,80.692314,0.336372,2
4,23.0,32.654532,0.044096,9.600000,169.241596,0.057252,1
...,...,...,...,...,...,...,...
204,26.0,20.443205,0.016550,7.607608,110.227470,0.018032,2
205,26.0,11.699434,0.022668,8.408408,79.901673,0.054096,2
206,26.0,8.333649,0.046490,10.010010,64.589410,0.083176,2
207,26.0,5.802419,0.081005,10.210210,123.238834,0.181779,1
208,17.0,28.627354,0.070090,10.176844,96.618134,0.070944,2

In [5]:
df.describe()

,23.00000000,5.20778845,0.23789485,9.12000000,79.93663194,0.33574021,2
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,20.181818,15.374407,0.093102,8.638341,80.788803,0.188862,1.665072
std,6.615502,18.794953,0.077858,2.120490,35.354399,0.159081,0.530579
min,1.000000,0.508430,0.000000,6.006000,8.483033,0.000000,0.000000
25%,20.000000,4.119577,0.022668,6.960000,51.624487,0.053464,1.000000
50%,23.000000,7.750512,0.073154,8.174842,77.641020,0.151436,2.000000
75%,24.000000,19.325803,0.150391,9.809810,108.327967,0.290641,2.000000
max,29.000000,138.139993,0.287202,14.347681,173.555556,0.659801,2.000000